/**
 * App Layout Styles
 */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 80px; /* Height of fixed header */
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 70px;
  }
}
